/* My CSS */
.empty-row-after {
	padding-bottom: 12px;
}
.empty-row-before {
  padding-top: 12px;
}
.no-space-after {
  margin-bottom: 0 !important;
}
.errorfield {
	background-color: #fdd;
}
.red {
	color: #f00;
}
.big {
	font-size: 2em;
}
.right-justified {
	text-align: right;
}
.small-width {
	width: 64px;
}
article {
  min-height: 566px;
}
.activity-column {
  max-width: 263px;
}
#calculate-well {
  margin: 50px auto 0px auto;
  max-width: 750px;
}
.absolute {
  position: absolute;
  width: 300px;
  top: 75px;
  right: 50%;
  margin-right: -150px;
  padding: 4px;
}
#search {
  padding: 1px 5px;
  height: 22px;
}

/* Login form */
#login {
  position: relative;
  top: 100px;
  max-width: 500px;
  margin: 0px auto 263px auto;
}
#login_buttons {
  margin-top: 3em;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Paginator */
#paginator {
  margin: -8px 0px 12px 0px !important;
}

/* Bootstrap colors */
.success_green {
	color: #5cb85c;
}
.default_gray {
	color: #f9f9f9;
}
.primary_blue {
	color: #428bca;
}
.info_blue {
	color: #5bc0de;
}
.warning_orange {
	color: #f0ad4e;
}
.danger_red {
	color: #d9534f;
}